.agregarProductos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.agregarProductos .addProductosContainer {
    width: 50%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 184, 189);
    border-radius: 20px;
}

.agregarProductos .addProductosContainer .iconoProductosContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .iconoProductosContainer .iconoProductos {
    font-size: 3rem;
}

.agregarProductos .addProductosContainer .addProductosForm {
    width: 100%;
    height: 350px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormName {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormName .addProductosNameLabel {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormName .addProductosNameInput {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormName .addProductosNameInput input {
    width: 80%;
    border: none;
}

.agregarProductos .addProductosContainer .addProductosForm .addPorductosFormPrec {
    background-color: rgb(61, 124, 124);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addPorductosFormPrec .addProductosPrecLabel {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addPorductosFormPrec .addProductosPrecInput {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormDesc {
    background-color: rgb(61, 124, 124);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormDesc .addProductosDescLabel {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormDesc .addProductosDescInput {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: .5rem 1rem;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormStock{
    flex: 2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-right: 1px solid rgb(185,185,185);
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormStock .addProductosStockLabel{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormStock .addProductosStockInput{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormStock .addProductosStockInput input{
    width: 70%;
    height: 28px;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormPerso{
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-right: 1px solid rgb(185,185,185);
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormPerso .addProductosPersoLabel{
    width: auto;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormPerso .addProductosPersoInput{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDescuento{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-right: 1px solid rgb(185,185,185);
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDescuento .addProductosDescuentoLabel{
    width: auto;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDescuento .addProductosDescuentoInput{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDestacado{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDestacado .addProductosDestacadoLabel{
    width: auto;
}

.agregarProductos .addProductosContainer .addProductosForm .addProductosFormCheck .addProductosFormDestacado .addProductosDestacadoInput{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregarProductos .addProductosContainer .addProductosForm .addProductosFormImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregarProductos .addProductosContainer .addProductosForm .addProductosFormBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.agregarProductos .addProductosContainer .addProductosForm .addProductosFormBtn .btnAddProducto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: brown;
    height: 35px;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
}
.inputError {
    border: 2px solid red !important;
}