.volverInicio {
    margin: 1rem;
    width: 10%;
}

.volverShop {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(22, 22, 22);
    cursor: pointer;
    background-color: white;
    margin: .2rem;
}

.detailContainer {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    border-bottom: 1px solid black;
}

.detailContainer .detailProducto {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.detailContainer .detailProducto .detailImg {
    object-fit: cover;
    width: 90%;
    margin: .5rem;
}

.detailContainer .detailProducto .desc {
    position: absolute;
    top: 7px;
    left: 35px;
    background-color: red;
    border-radius: 0 20px 20px 0;
    width: 20%;
    font-size: 0.9rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo {
    width: 35%;
    height: 400px;
    margin: .5rem;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailContainer .detailInfo .detailInfoNom {
    text-align: center;
    font-size: 2.3rem;
    margin: .5rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.detailContainer .detailInfo .detailDescrip {
    margin: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.detailContainer .detailInfo .detailPrec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo .detailPrec p {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo .detailPrec .precTachado {
    font-size: 1rem;
    text-decoration: line-through;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo .detailInfoBtns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    flex-wrap: nowrap;
    gap: .5rem;
    width: 100%;
}

.detailContainer .detailInfo .detailInfoBtns .perso {
    width: 90%;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 3px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo .detailInfoBtns .noEsPerso {
    font-size: .9rem;
    color: brown;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.detailContainer .detailInfo .detailInfoBtns .compra {
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: pink;
    padding: 3px;
    width: 60%;
    margin: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:
        transform .25s ease,
        box-shadow .25s ease;
}
.detailContainer .detailInfo .detailInfoBtns .compra:hover{
    
    transform: scale(1.04);
}
.detailContainer .detailInfo .detailInfoBtns .compra:active{
    
    transform: scale(1.04);
}

.detailContainer .detailInfo .detailStock {
    text-align: end;
    margin: 0 .5rem;
    color: rgb(168, 168, 168);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}