.homeBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: var(--Crema);
    text-align: center;
    gap: 1rem;
}

.homeBanner h1 {
    font-size: 3rem;
    font-family: "Pacifico", cursive;
    color: var(--marron-cookie);
}

.homeBanner p {
    font-size: 1.3rem;
    color: #888;
}

.homeDestacados {
    padding: 3rem 2rem;
    text-align: center;
    background: #fffaf6;
}

.homeDestacados h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Pacifico", cursive;
    color: var(--marron-cookie);
}

.homeDestacadosGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--Crema);
}

.homeDestacadosGrid .homeProductosDestacados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    overflow: hidden;
    width: 90%;
}

.homeDestacadosGrid .btnSlidersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeDestacadosGrid .btnSlidersContainer .btnsSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
}

.homeValores {
    padding: 3rem 0;
    text-align: center;
    height: 500px;
    overflow: hidden;
    background-color: var(--bordes);
}

.homeValores h2 {
    font-size: 2rem;
    color: var(--marron-cookie);
    margin-bottom: 2rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.homeValoresGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    height: 450px;
    overflow: hidden;
    border-top: 1px solid black;
}

.homeValorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 20%;
    height: 120px;
    margin: .5rem;
    padding: 2rem 1.5rem;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.homeValorCard:hover {
    transform: scale(1.03);

    box-shadow: 0 18px 35px rgba(0, 0, 0, .18);
}

.homeValorCard:active {
    transform: scale(1.03);

    box-shadow: 0 18px 35px rgba(0, 0, 0, .18);
}

.valorIcon {
    font-size: 2.5rem;
    color: #c47a9e;
}

.homeValorCard h3 {
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #333;
    overflow: hidden;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 500;
    font-style: normal;
}

.homeValorCard p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 0.9rem;
    color: #888;
    line-height: 1.5;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@media (max-width:480px) {

    /*--valores*/
    .homeValores {
        height: auto;
        margin: 0;
    }

    .homeValoresGrid {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        border: none;
    }

    .homeValorCard {
        width: 80%;
        margin: 0 .5rem;
    }

    /*destacados*/

    .homeDestacados {
        padding: 2rem 1rem;
    }


    .homeDestacadosGrid {

        flex-wrap: nowrap;

        gap: .5rem;

        width: 100%;

    }


    .homeDestacadosGrid .homeProductosDestacados {

        width: 85%;

        overflow: hidden;

        flex-shrink: 0;


    }


    .homeDestacadosGrid .btnSlidersContainer {

        width: auto;

    }


    .homeDestacadosGrid .btnSlidersContainer .btnsSlide {

        font-size: 1.7rem;

    }

}

/*-tablets celus grandes*/
@media(max-width:768px) {
    .homeValores {
        height: auto;
        margin: 0;
    }

    .homeValoresGrid {
        align-items: center;
        justify-content: center;
        height: auto;
        border: none;
    }

    .homeValorCard {
        width: 60%;
        margin: 0 .5rem;
    }

    /*--destacados--*/

    .homeDestacados {
        padding: 2rem 1rem;
    }


    .homeDestacadosGrid {

        flex-wrap: nowrap;

        gap: .5rem;

        width: 100%;

    }


    .homeDestacadosGrid .homeProductosDestacados {

        width: 85%;

        overflow: hidden;

        flex-shrink: 0;

    }


    .homeDestacadosGrid .btnSlidersContainer {

        width: auto;

    }


    .homeDestacadosGrid .btnSlidersContainer .btnsSlide {

        font-size: 1.7rem;

    }
}