.tienda{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--vainilla);;
}
@media (max-width:480px) {
    .tienda{
        flex-direction: column;
        gap: .5rem;
    }
}
@media(max-width:768px){
    .tienda{
        flex-direction: column;
        gap: .5rem;
    }
}