footer {
    margin: 0;
}

.footer-container {
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(71, 71, 71);
     background-color: var(--bordes);
}

.footer-container .-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 30%;
    font-size: 1.6rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: rgb(102, 73, 30);
}
.footer-container .-section1 p{
    margin-top: 1rem;
}

.footer-container .-section2 {
    width: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.footer-container .-section2 .nuestrasRedes{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-container .-section2 .nuestrasRedes p{
    font-size: 1.3rem;
}
.footer-container .-section2 .nuestrasRedes .iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}
.footer-container .-section2 .nuestrasRedes .iconos .insta{
    font-size: 1.7rem;
}
.footer-container .-section2 .nuestrasRedes .iconos .wsp{
    font-size: 1.7rem;
    cursor: pointer;
}
.footer-container .-section2 .linksNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.footer-derechos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(104, 91, 91, 0.89);
    font-size: .8rem;
}
@media (max-width:480px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:768px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}