header {
    width: auto;
    height: auto;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    width: 100%;
    border-radius: 5px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.1);
}

.nav .homeResponsive {
    display: none;
}

.nav .-logo {
    color: rgb(102, 73, 30);
    margin: 0;
    height: 5rem;
    width: 30%;
    font-size: 1.6rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    transition: transform 0.4s ease;

}

.nav .-logo:hover {
    transform: scale(1.01);
}

.nav .-logo:active {
    transform: scale(1.01);
}

.nav .-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-decoration: none;
}

.nav .-list li {
    text-decoration: none;
    margin: .5rem;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}


.nav .-list li::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: rgb(102, 73, 30);

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
}

.nav .-list li:hover::after {
    transform: scaleX(1);
}

.nav .-list li:has(.activo)::after {
    transform: scaleX(1);
}

.containerCarrito {
    width: 28%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.containerCarrito .-contador {
    position: absolute;
    background-color: rgb(201, 117, 15);
    font-size: 1rem;
    color: aliceblue;
    width: 20%;
    top: .2rem;
    right: 8.5rem;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.containerCarrito .-icon {
    font-size: 2rem;
    display: inline-block;
    transition: transform 0.4s ease;
}

.containerCarrito .-icon:hover {
    transform: scale(1.1);
}

.containerCarrito .-icon:active {
    transform: scale(1.1);
}

.bounce {
    animation: carritoBounce 0.8s ease;
}

.containerCarrito .loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    width: 15%;
}

.containerCarrito .loginContainer .loginIcon {
    font-size: 1.8rem;
    margin: .2rem;
    color: black;
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
}


.containerCarrito .loginContainer .loginIcon:hover {
    transform: scale(1.1);
}

.containerCarrito .loginContainer .loginIcon:active {
    transform: scale(1.1);
}

/*--Animaciones--*/
@keyframes carritoBounce {

    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.2) translateY(-2px);
    }

    60% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

/*--RESPONSIVE:CELUS*/
@media (max-width:480px) {

    .nav {
        position: relative;
        overflow: hidden;
        justify-content: space-around;
        padding: 0 18px;
        height: 70px;

    }

    /* BOTON HAMBURGUESA */

    .nav .homeResponsive {

        display: block;

        font-size: 2rem;

        cursor: pointer;

        color: rgb(102, 73, 30);

        order: 1;

    }

    /* LOGO */

    .nav .-logo {

        width: auto;

        height: auto;

        font-size: 1.4rem;

        order: 2;

    }

    /* LOGIN + CARRITO */

    .containerCarrito {

        width: auto;

        order: 3;

        gap: 12px;

    }

    .containerCarrito .loginContainer {

        width: auto;

    }

    .containerCarrito .-contador {

        right: -1.2px;

        top: 1px;

    }

    /* MENU */

    .nav .-list {
        position: absolute;

        gap: 1rem;

        top: 20rem;

        left: 0;

        width: 100%;
        min-height: 350px;

        background: rgb(216, 145, 145);

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        gap: 1rem;

        padding: 25px 0;

        border-bottom: 1px solid #ddd;

        box-shadow: 0 10px 20px rgba(0, 0, 0, .08);

        transform: translateY(-20px);

        opacity: 0;

        pointer-events: none;

        transition: .3s ease;

        z-index: 9999;

    }
    .nav .-list.menuOpen {

        transform: translateY(0);
        position: fixed;
        opacity: 1;
        top: 70px;

        left: 0;
        pointer-events: all;
        width: 100%;


    }

    .nav .-list li {

        margin: 0;

        font-size: 1.05rem;

    }

}
/*--TABLETS/CELUS GRANDES*/
@media(max-width:768px){
     .nav {
        position: relative;
        overflow: hidden;
        justify-content: space-around;
        padding: 0 18px;
        height: 70px;

    }

    /* BOTON HAMBURGUESA */

    .nav .homeResponsive {

        display: block;

        font-size: 2rem;

        cursor: pointer;

        color: rgb(102, 73, 30);

        order: 1;

    }

    /* LOGO */

    .nav .-logo {

        width: auto;

        height: auto;

        font-size: 1.4rem;

        order: 2;

    }

    /* LOGIN + CARRITO */

    .containerCarrito {

        width: auto;

        order: 3;

        gap: 12px;

    }

    .containerCarrito .loginContainer {

        width: auto;

    }

    .containerCarrito .-contador {

        right: -1.2px;

        top: 1px;

    }

    /* MENU */

    .nav .-list {
        position: absolute;

        gap: 1rem;

        top: 20rem;

        left: 0;

        width: 100%;
        min-height: 350px;

        background: rgb(216, 145, 145);

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        gap: 1rem;

        padding: 25px 0;

        border-bottom: 1px solid #ddd;

        box-shadow: 0 10px 20px rgba(0, 0, 0, .08);

        transform: translateY(-20px);

        opacity: 0;

        pointer-events: none;

        transition: .3s ease;

        z-index: 9999;

    }
    .nav .-list.menuOpen {

        transform: translateY(0);
        position: fixed;
        opacity: 1;
        top: 70px;

        left: 0;
        pointer-events: all;
        width: 100%;


    }

    .nav .-list li {

        margin: 0;

        font-size: 1.05rem;

    }
}